html {
  background-color: #252424;
}
.menu {
  grid-template-columns: 1fr 1fr;
  display: grid;
  border-bottom: solid 3px #5e5b2d;
  padding-bottom: 1rem;
}
.menu .logo {
  display: flex;
}
.menu h1 {
  font-size: 3.5em;
  margin: 0;
  padding-top: 3em;
  padding-left: 20px;
  color: #b4ba50;
  font-family: permanent marker;
  font-weight: lighter;
}
.logo img {
  width: 20%;
}
.menu nav ul {
  list-style-type: none;
  text-decoration: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-top: 3em;
  color: #b4ba50;
  font-family: permanent marker;
  font-size: 18px;
}
nav {
  padding-left: 9em;
}
.hero img {
  width: 510px;
  margin-top: 1em;
  border-bottom: solid 2px #5e5b2d;
  padding-bottom: 2em;
}
.hero p {
  color: #b4ba50;
  font-family: permanent marker;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
  margin: 1em;
}
.grid-2-2 {
  border-top: solid 2px #5e5b2d;
  padding-top: 2em;
  padding-bottom: 1em;
  display: grid;
  margin: 0;
  overflow: hidden;
}
.grid-2-2 img {
  grid-area: 1/1;
  background-repeat: no-repeat;
  width: 100%;
}
.grid-2-2 .caption {
  grid-area: 1/1;
  place-self: center;
  color: #cd5a90;
  padding-bottom: 1em;
  font-size: x-large;
  font-weight: 880;
  font-family: permanent marker;
}
.tekstboks {
  padding-left: 3em;
}

.grid-2-2 h2 {
  color: #68314b;
  font-family: "Lexend Exa", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}
.grid-2-2 h3 {
  color: #68314b;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 700;
  font-size: large;
  padding-bottom: 1em;
}
.grid-2-2 p {
  color: #723752;
  font-family: "Lexend Exa", sans-serif;
  line-height: 27px;
}
.grid-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 1rem;
  border-top: solid 2px #5e5b2d;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid-1-1-1 img {
  width: 100%;
}
.sams {
  grid-column: 2/4;
}
.tunel {
  grid-row: span 2;
}
.footer {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}
.footer ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: permanent marker;
  font-size: 18px;
  gap: 4.2em;
}
.footer .nav1 {
  padding: 0;
}
a {
  text-decoration: none;
  color: #b4ba50;
}
footer {
  border-top: solid 2px #5e5b2d;
  padding-bottom: 3rem;
  border-bottom: solid 2px #5e5b2d;
}
@media (min-width: 800px) {
  html {
    background-color: #252424;
  }
  body {
    margin-left: 8em;
    margin-right: 8em;
  }
}
